<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>uniapp</tag>
        <label>normal</label>
        <remoteHost>localhost</remoteHost>
        <port>24224</port>
    </appender>

    <root level="info">
        <appender-ref ref="FLUENT" />
    </root>
</configuration>